<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-title>
<!--  <ion-back-button defaultHref="home"></ion-back-button> -->    
      <strong>Buscar por Farmácias</strong> 
     </ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar placeholder="Destino" (ionChange)="buscarEndereco($event)"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<!-- Barra para pesquisar endereço -->
<ion-content [fullscreen]="true">
  <ion-list [hidden]="!listaEnderecos.length">
    <ion-item button *ngFor="let local of listaEnderecos" Lines="full" (click)="tracarRota(local)">
      {{local.description}}        
    </ion-item>
  </ion-list> 
  <div #map id="map"></div>

  <!-- Barra de navegaçao para pagina home, alarme, buscal local e buscar posto -->
   <nav id="barra_navegacao">
      <ul>
          <li><a href="../busca-local/"><img src="https://img.icons8.com/ios-filled/30/000000/pharmacy-shop.png" /></a></li>
          <li><a href="../meus-alarmes/"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/000000/external-tablets-hospital-healthcare-flatart-icons-solid-flatarticons.png" /></a></li>
          <li><a href="../home/"><img src="https://img.icons8.com/ios-filled/30/000000/home.png" /></a></li>
          <li><a href="../carteira-de-vacinacao/"><img
            src="https://img.icons8.com/external-wanicon-solid-wanicon/30/000000/external-vaccine-health-checkup-wanicon-solid-wanicon.png" /></a></li>
            <li><a href="../busca-posto/"><img src="https://img.icons8.com/ios-filled/30/000000/hospital-3.png" /></a></li>
        </ul>
      </nav>
  </ion-content>

