<ion-header>
    <ion-toolbar>
        <ion-title>Exibir usuario </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="testando">
        <p> <strong> Nome: </strong> {{listaCadastro[0].nome}}</p>
        <p> <strong> e-mail: </strong> {{listaCadastro[0].email}} </p>
        <p> <strong> Contato:</strong> {{listaCadastro[0].contato}}</p>
        <p> <strong> Contato de emergência:</strong> {{listaCadastro[0].emergencia}} </p>
        <p><strong> Endereço:</strong> {{listaCadastro[0].logradouro}},
            {{listaCadastro[0].numero}}</p>
        <p> <strong> Cep: </strong> {{listaCadastro[0].cep}}</p>
        <p><strong> Bairro:</strong> {{listaCadastro[0].bairro}} </p>
        <p><strong> Cidade:</strong> {{listaCadastro[0].cidade}} </p>
        <p><strong> Estado:</strong> {{listaCadastro[0].uf}} </p>
        <p><strong> Alergias:</strong> {{listaCadastro[0].alergias}} </p>
        <p><strong> Tipo Sanguineo: </strong> {{listaCadastro[0].tpsanguinio}} </p>
        <p> <strong> Gênero:</strong> {{listaCadastro[0].genero}} </p>
    </div>

    <nav>
        <ul>
            <li>
                <a href="../cadastro-cliente/"><img src="https://img.icons8.com/ios/50/000000/left.png" /></a>
            </li>
            <li>
                <a href="../home/"><img src="https://img.icons8.com/ios-filled/30/000000/home.png" /></a>
            </li>

        </ul>
    </nav>


</ion-content>