<ion-header>
    <ion-toolbar>
        <ion-title>Exibir usuario </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

     <div class="content">
       

        <h1>{{listarCadastro.nome}}</h1>
        <!-- <h2>{{usuario?.email}}</h2>
        <h3>{{usuario?.contato}}</h3>
        <h4>{{usuario?.emergencia}}</h4>
        <h5>{{usuario?.logradouro}}</h5>
        <h6>{{usuario?.numero}}</h6>
        <h7>{{usuario?.bairro}}</h7>
        <h8>{{usuario?.cidade}}</h8>
        <h9>{{usuario?.uf}}</h9>
        <h10>{{usuario?.alergias}}</h10>
        <h11>{{usuario?.peso}}</h11>
        <h12>{{usuario?.altura}}</h12>
        <h13>{{usuario?.dataNasc}}</h13>
        <h14>{{usuario?.tpsanguinio}}</h14>
        <h15>{{usuario?.genero}}</h15>  -->


     
        <ion-button color="primary" (click)="delete()">Deletar</ion-button>
      

     </div> 

</ion-content>


<ul>
    <li>
        <a href="../cadastro-cliente/"><img src="https://img.icons8.com/ios/50/000000/left3.png" /></a>

    </li>

</ul>

<nav id="barra_navegacao">
    <ul>
        <li>
            <a href="../cadastro-cliente/"><img src="https://img.icons8.com/ios/50/000000/left.png" /></a>
        </li>
        <li>

            <a href="../home/"><img src="https://img.icons8.com/ios-filled/30/000000/home.png" /></a>
        </li>

    </ul>
</nav>