
// ion-toolbar{
//     font-style: normal;
//     font-weight: normal;
//     font-size: 24px;
//     line-height: 20px;
//     text-align: center;
//     color: black;
//     width: 100%;
//     --ion-color-primary:#008FEA;
//     }
ion-title{
    font-family: Rubik;
    background-color: #008FEA;
    color: white;
    text-align: center;
    
  }

  ion-button{
    background-color: whitesmoke;
    --background: #008FEA;
    color:white;
    border-color: #008FEA;
    --border-radius: 20px;
    font-family: Rubik;
    display:inline-flex;
  }
  
  ion-toolbar{
    --background: #008FEA;
  }

    ion-content{
        background-color: black;
        color:black;
        padding: 8px;
        font-family: Rubik;
    }

    nav {
        margin: 0 auto;
        background: #008FEA;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
    }
    
    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    nav ul li {
        float: left;
        position: relative;
    }
    
    nav ul li a {
        display: block;
        text-decoration: none;
        padding: 1.3rem;
    }
    
    nav ul li ul li {
        min-width: 190px;}